.host_token
.env
.gemini/settings.json 
.gemini/mcp_config.json
*.zip
__pycache__/
*.py[cod]
.venv/
**/.obsidian/
**/.pytest_cache/
**/node_modules/
**/.vscode/

# 크롤링된 백준 문제 데이터 제외
practice/data/content/programming/baekjoon/scraped/
practice/data/content/programming/baekjoon/mycode/

# 크롤링 과정에서 생성되는 임시/실패 기록 파일들
**/404_not_found/
**/crawl_failures.txt
**/browser_session/

# DoingCoding LV26_재귀 임시 폴더
practice/data/content/programming/doingcoding/LV26_재귀/scripts/

# Doingcoding test cases and generators
!practice/data/content/programming/doingcoding/**/04_testcases/*.zip
practice/data/content/programming/doingcoding/**/temp/**/*
!practice/data/content/programming/doingcoding/**/temp/**/
!practice/data/content/programming/doingcoding/**/temp/**/input_gen.py


# 백준 아카이버 툴 관련
Resources/tools/user_data/ 
Resources/tools/test_user_data/ 
Resources/tools/auth.json 
Resources/tools/manual_cookies.json 
Resources/tools/cookies_tool.json 

# Doingcoding 쿠기 관련
state.json